<!DOCTYPE html>
<html>
<title>TT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/style.css">




<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>The Fly Fighters</b> </a>
     <!--Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="./about" class="w3-bar-item w3-button">About</a>
      <a href="./contact" class="w3-bar-item w3-button">Contact</a>
      <a href="./prediction" class="w3-bar-item w3-button">Prediction</a>
    </div>
  </div>
</div>





<h3>Sorry We couldn't find your page</h3>


  

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a title="The Fly Fighters" target="_blank" class="w3-hover-text-green">The Fly Fighters</a></p></footer>

</body>
</html>

