<!DOCTYPE html>
<html>
<title>Welcome to Flyfighter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">







<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>The Fly Fighters</b> </a>
     <!--Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="./about" class="w3-bar-item w3-button">About</a> 
      <a href="./twoway" class="w3-bar-item w3-button">Solution</a>
      <a href="./prediction2" class="w3-bar-item w3-button">Forecast</a>
    </div>
  </div>
</div>

<div style="height: 54px; width: 100%;"></div>



<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <!-- The video -->
  <video autoplay muted loop id="myVideo" style="width:100%;">
    <source src="./img/video.mp4" type="video/mp4">
  </video>
  <!-- Optional: some overlay text to describe the video -->
  <div class="centered">
    <h1 style="font-size:5.5vw;color: aliceblue;"> Creating A</h1>
  </div>

  <div class="welcome col-sm-12 col-md-12 col-lg-12">
    <h1 style="font-size:5.5vw;color: aliceblue;"> Medfly-Free Farm</h1>
  </div>

  <div><a href="#abc">
    <img class="learnmore" src="./img/WechatIMG96.png" style="width: 20%;" >
    </a>
  </div>
    
</header>

  <!--buffer-->
<div style="height: 0px; width:max-content;"></div>
<div id="qwert" style="height: 200px; width: auto; text-align: center"></div>

<!--content1 two pictures-->
<div class="w3-row w3-container" >
  <div class="w3-half w3-container">
    <div class="w3-topbar w3-border-amber">
      <img src="./img/charlotte-noelle-AQ6K3KLdEqo-unsplash.jpg" style="width:100%;height:50%">
    </div>
  </div>
  
  <div class="w3-half w3-container">
    <div class="w3-topbar w3-border-amber">
      <img src="./img/person-holding-red-strawberry-365839.jpg" style="width:100%;height:50%">
    </div>
  </div>
</div>

  
  


   <!-- solution2box-->
   <div id="abc" class="w3-row-padding w3-center w3-margin-top" style="margin-left: 10%; margin-right: 10%;">
    <div class="w3-half" style="margin-top: 100px;"><a href="./twoway">
      <img src="./img/WechatIMG80.jpeg" style="width: 100%;" ></a>
          
    </div>
    
    <div class="w3-half" style="margin-top: 100px;"> <a href="./prediction2">
      <img src="./img/solution2.png" style="width: 100%;" ></a>  
    </div>
  </div>





<!--buffer-->
<div style="height: 54px; width:max-content;"></div>
<div id="qwert" style="height: 200px; width: auto; text-align: center"></div>


  

<!-- Footer 
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a title="The Fly Fighters" target="_black" class="w3-hover-text-green">The Fly Fighters</a></p></footer>-->


<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Follow Us</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by THE FLY FIGHTERS</p>
</footer>
</body>
</html>

