<!DOCTYPE html>
<html>
<title>Welcome to Flyfighter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>The Fly Fighters</b> </a>
     <!--Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="./about" class="w3-bar-item w3-button">About</a> 
      <a href="./twoway" class="w3-bar-item w3-button">Solution</a>
      <a href="./prediction2" class="w3-bar-item w3-button">Forecast</a>
    </div>
  </div>
</div>

<div style="height: 54px; width: 100%;"></div>


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="width:100%">
    <img src="./img/solutionspage.png" style="height:500;width:100%">
    <div class="w3-display-middle w3-margin-top w3-center">
    </div>
  </header>



  <!--content1 two solutions-->
<div class="w3-row w3-container" style="margin-left: 15%; margin-right: 15%">
    <div class="w3-half w3-container" ><a href="./prediction">
      <div class="w3-topbar w3-border-amber">
        <img src="./img/twoway1.png" style="width:100%;height:50%">
      </div>
    </div>
    
    <div class="w3-half w3-container" ><a href="./solution2">
      <div class="w3-topbar w3-border-amber">
        <img src="./img/twoway2.png" style="width:100%;height:50%">
      </div>
    </div>
</div>

<!--buffer-->
<div style="height: 50px; width:max-content;"></div>

  
  


<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Follow Us</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by THE FLY FIGHTERS</p>
  </footer>
</body>
  </html>
  
  