.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

  }

  .welcome{
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 60px;

  }

  .learnmore{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    

  }